@charset "utf-8";
body {
    color: black;
    background-color: white;
    width: auto;
    border: 0;
    padding: 0
    }
div, p, h1, h2 {
    margin-left: 0;
    margin-right: 0;
    display: block
    }
h2 {
    page-break-before: always;
    padding-top: 1em
    }
.cover-image-frame {
    background-color: grey;
    text-align: center;
    padding: 0;
    margin: 0;
    page-break-after: always;
    text-indent: 0;
    width: 100%;
    height: 100%
    }
body.cover-page {
    margin: 0;
    padding: 0
    }
